body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: transparent;
}

.CommentInput {
  margin-bottom: 24px;
}
.comment {
  margin-bottom: 12px;
  font-size: 14px;
}
.comment .comment-author {
  font-weight: bold;
  padding-right: 8px;
}
